
/@CF
/@Community-Online-Tools
/addons
appcache/stats/UserGameStatsSchema_221100.bin
ban.txt
/battleye
/config
dayz.gproj
DayZServer_x64.exe
dayzsetting.xml
/docs
/dta
/keys
/logs
/mpmissions/dayzOffline.chernarusplus
/mpmissions/dayzOffline.enoch
/mpmissions/dayzOffline.sakhal
/Profilesfolder/BattlEye
/Profilesfolder/CommunityOnlineTools/Logs
Profilesfolder/CommunityOnlineTools/Webhooks.json
*.log
/Profilesfolder/DataCache
*.ADM
*.RPT
/Profilesfolder/PermissionsFramework
/Profilesfolder/Users
/sakhal
/server_manager
steam_api64.dll
steam_appid.txt
steamclient64.dll
tier0_s64.dll
tier0_s64.dll
vstdlib_s64.dll
whitelist.txt
Profilesfolder/CommunityOnlineTools/Weather.json
Profilesfolder/CommunityOnlineTools/Teleports_chernarusplus.json
/@Namalsk Island
/@Namalsk Survival
/mpmissions/hardcore.namalsk/storage_1
/@Dabs Framework
/@DayZ Editor Loader
/@GW_Server_Tweaks
/@InediaInfectedAI
Profilesfolder/Inedia/InediaAdminsConfig.json
/@DayZ-Bicycle
/@Survivor Animations
*.mdmp
